<nav>
	<ul class="menu">
		<li class="nav-item"><a href="/../index" class="nav-link">Home</a></li>
		<li class="nav-item"><a href="/../covid" class="nav-link">Sessão COVID-19</a></li>
<!--
		<li class="nav-item"><a href="login.php" class="nav-link">Login</a></li>
		<li class="nav-item"><a href="cadastro_noti.php" class="nav-link">Cadastro de notícia</a></li>
		<li class="nav-item"><a href="pesquisa.php" class="nav-link">Pesquisa</a></li>
		<li class="nav-item"><a href="logout.php" class="nav-link">Sair</a></li>

-->
	</ul>
</nav>