.boxCovid {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: zero;
    grid-row-end: third-end;
    margin-top: 10px;
}

.resumodia {
    font-family: Monda;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 33px;
    color: #B72E09;
}

h2 {
    margin-bottom: 20px;
}